.product__container {
  padding-top: 7rem;
  display: grid;
  grid-template-columns: 1fr 30rem 40rem;
  grid-template-rows: 40rem;
}

.product__container-img {
  grid-column: 3/4;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product__container-img img {
  width: 60%;
  height: auto;
}
.product__container-txt {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.product__container-txt h2 {
  font-size: 4rem;
}
.product__container-txt p {
  padding: 1rem 0;
}
.product__container-iconAndPrice {
  grid-column: 3/4;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
}
.product__container-iconAndPrice p {
  font-size: 4rem;
}
.product__container-iconAndPrice a:link,
.product__container-iconAndPrice a:visited {
  color: black;
  font-size: 4rem;
}
.cart__count {
  display: inline-block;
  width: 10rem;
  padding: 1rem 2rem;
  text-align: center;
}
